<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dateCreated</key>
	<date>2024-11-14T07:25:31Z</date>
	<key>externalLocations</key>
	<array/>
	<key>rootId</key>
	<dict>
		<key>hash</key>
		<string>0~-7pBqpfPrvxTPev5goAwt52vN3tDhKW1GD6CiOvf82mAWFv9m-Swm4x9rgjAZRQn_ygHvsWdp1L2NqZ7Obduzw==</string>
	</dict>
	<key>storage</key>
	<dict>
		<key>backend</key>
		<string>fileBacked2</string>
		<key>compression</key>
		<string>standard</string>
	</dict>
	<key>version</key>
	<dict>
		<key>major</key>
		<integer>3</integer>
		<key>minor</key>
		<integer>53</integer>
	</dict>
</dict>
</plist>
