<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUDvx6_yLilHtZ1C5da2R1Hkr7hxmi4E8</string>
	<key>GCM_SENDER_ID</key>
	<string>539241520015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zarvisApp</string>
	<key>PROJECT_ID</key>
	<string>zarvis-app-c4bd4</string>
	<key>STORAGE_BUCKET</key>
	<string>zarvis-app-c4bd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539241520015:ios:49e6acb978db745a9609fa</string>
</dict>
</plist>